@{
  Layout = "_Layout";
}

<div class="container">

<h2>Result of the game:</h2>

  <h4>Winner is:</h4>
    <p><span class="winner">@Model</span></p>
  <p><a href="/">Back to homepage.</a></p>
</div>
